{% extends "base.html" %}
{%block content%}


<!--CSS STYLING-->
<style>

footer {
    clear: both;
	text-align: center;
	font-size:14px;
    position:fixed;
    right: 0;
    left: 0;
    padding: 1rem;
	background-color:#193509;
	margin-top:20px;
	bottom:0;
	color:#9d9d9d;
	width:100%;

}
<!--END OF CSS-->
</style>

<!-- END OF CSS -->
<!--MAIN CONTENT-->
<div class="row">
  <div class="column" style="background-color:#aebbb1;">  
	<img src="{{ url_for('static', filename='img/bruschetta.jpg') }}"/>
 
    <p> {% for veganfood in veganfood %}
			<h3>{{ veganfood.title }} <br></h3>
			 <strong>Ingredients:</strong>{{ veganfood.ingredients }}<br><br>
			 <strong>Instructions:</strong>{{ veganfood.instructions }}<br>
	    {% endfor %}</p>
  </div>
</div>

<!-- END OF MAIN CONTENT-->
<footer>Site Designed by Kristelle C.</footer>

 {% endblock %}