{% extends "base.html" %}
{%block content%}
<style>
body{
background-repeat:no-repeat;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
background-position:center;
 
}
footer
{
 bottom:0;
 
}

.titleimg img
{
 width:100%;
 padding-bottom:50px;
}

.titlebanner 
{
 padding-bottom:50px;
 text-align:center;
}
div.gallery {
    border: 5px solid #4bb178ba;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
	background-color:#4bb178ba;
    color:white;
	font-size:16px
	
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
	
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
</style>
<!--BACKGROUND IMAGE-->
<body background="{{ url_for('static', filename='img/board.jpg') }}">
<!-- VEGAN TITLE IMAGE-->
<div class="titlebanner">
<img src="{{ url_for('static', filename='img/dessertstitle.png') }}">
</div>
<!-- GALLERY-->
<div class="responsive">
  <div class="gallery">
  <a href="{{ url_for('peanutbuttermugcake') }}"/>
      <img src="{{ url_for('static', filename='img/mugcake.jpg') }}" alt="mugcake" width="600" height="400"/>
    </a>
    <div class="desc">Peanut Butter Mug Cake</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
      <a href="{{ url_for('mousse') }}"/>
      <img src="{{ url_for('static', filename='img/mousse.jpg') }}" alt="main" width="600" height="400">
    </a>
    <div class="desc">Whipped Chocolate Mousse</div>
  </div>
</div>



<div class="responsive">
  <div class="gallery">
    <a href="{{ url_for('muffins') }}"/>
      <img src="{{ url_for('static', filename='img/muffins.jpg') }}" alt="muffins" width="600" height="400">
    </a>
    <div class="desc">Healthy Chocolate Chip Muffins</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="{{ url_for('mugroll') }}"/>
      <img src="{{ url_for('static', filename='img/mugroll.jpg') }}" alt="Desserts" width="600" height="400">
    </a>
    <div class="desc">Cinnamon Mug Roll</div>
  </div>
</div>

<div class="clearfix"></div>

</div>

<!--END OF GALLERY-->
</body>


 {% endblock %}