{% extends "base.html" %}
{%block content%}

   

      
    	<div class="box">
  			<h1>Log In</h1>
			<br>
			 {%if error%}
    <div class="error"><strong>Error:</strong> {{ error }}
	{%endif%}
  			<form action="" method="POST">
			
    			<input type="text" name="username" id="username" value="{{
          request.form.username }}" placeholder="Username" required/>
    			<br>
    			<input type="password" name="password" id="password" value="{{
          request.form.password }}" placeholder="Password" required/>
    			<br><br><br>
    			<input type="submit" class="button" value="Log In"/>
				<br>
				{% for message in get_flashed_messages() %}
		 <div class=flash>
		  {{ message }}
		  </div>
		 {% endfor %}
		 
		 
  			</form>
		</div>
		


     
    
{% endblock %}
