{% extends "base.html" %}
{%block content%}

   

      
    	<div class="box">
  			<h1>Log In</h1>
			<br>
  			<form action="/login" method="POST">
			
    			<input type="text" name="username" id="username" value="{{
          request.form.username }}" placeholder="Username" required/>
    			<br>
    			<input type="password" name="password" id="password" value="{{
          request.form.password }}" placeholder="Password" required/>
    			<br><br><br>
    			<input type="submit" class="button" value="Log In"/>
  			</form>
		</div>

  
{%if error%}
    <div class="users">
      <h2>You are now registered</h2>
      <table style="width:100%;">
  
        <p class="error"><strong>Error:</strong> {{ error }}
   
      </table>
    </div>
    {%endif%}
{% endblock %}
