{% extends "base.html" %}
{%block content%}


<!--CSS STYLING-->
<style>

footer {
    clear: both;
	text-align: center;
	font-size:14px;
    position:fixed;
    right: 0;
    left: 0;
    padding: 1rem;
	background-color:#193509;
	margin-top:20px;
	bottom:0;
	color:#9d9d9d;
	width:100%;

}
<!--END OF CSS-->
</style>
<!--END OF CSS-->
<!--END OF CSS-->
<!--MAIN CONTENT-->
<!-- PAGE TITLE-->
<div class="titlebanner">
<img src="{{ url_for('static', filename='img/maintitle.png') }}">
</div>

<!-- GALLERY-->
<div class="responsive">
  <div class="gallery">
  <a href="{{ url_for('alfredo') }}"/>
      <img src="{{ url_for('static', filename='img/veganalfredopasta.jpg') }}" alt="alfredo" width="600" height="400"/>
    </a>
    <div class="desc">Vegan Alfredo Pasta</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
      <a href="{{ url_for('greencurry') }}"/>
      <img src="{{ url_for('static', filename='img/greencurry.jpg') }}" alt="greencurry" width="600" height="400">
    </a>
    <div class="desc">Sweet Potato Green Curry</div>
  </div>
</div>



<div class="responsive">
  <div class="gallery">
    <a href="{{ url_for('stirfry') }}"/>
      <img src="{{ url_for('static', filename='img/stirfry.jpg') }}" alt="stirfry" width="600" height="400">
    </a>
    <div class="desc">Peanut Teriyaki Stir Fry</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="{{ url_for('pumpkinpasta') }}"/>
      <img src="{{ url_for('static', filename='img/pumpkinpasta.jpg') }}" alt="pumpkinpasta" width="600" height="400">
    </a>
    <div class="desc">Creamy Pumpkin Pasta</div>
  </div>
</div>

<div class="clearfix"></div>

</div>

<!--END OF GALLERY-->
<!--END OF MAIN CONTENT-->

<footer>Site Designed by Kristelle C.</footer>
 {% endblock %}



