{% extends "base.html" %}
{%block content%}
<!--CSS STYLING-->
<style>

footer {
    clear: both;
	text-align: center;
	font-size:14px;
    position:fixed;
    right: 0;
    left: 0;
    padding: 1rem;
	background-color:#193509;
	margin-top:20px;
	bottom:0;
	color:#9d9d9d;
	width:100%;

}
<!--END OF CSS-->
</style>

<!--MAIN CONTENT-->

<div class="titlebanner">
<img src="{{ url_for('static', filename='img/sidestitle.png') }}">
</div>
<!-- GALLERY-->
<div class="responsive">
  <div class="gallery">
  <a href="{{ url_for('tahini') }}"/>
      <img src="{{ url_for('static', filename='img/tahini.jpg') }}" alt="tahini" width="600" height="400"/>
    </a>
    <div class="desc">Asian Tahini Dressing</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
      <a href="{{ url_for('hummus') }}"/>
      <img src="{{ url_for('static', filename='img/hummus.jpg') }}" alt="hummus" width="600" height="400">
    </a>
    <div class="desc">Simply Hummus</div>
  </div>
</div>



<div class="responsive">
  <div class="gallery">
    <a href="{{ url_for('egglessmayo') }}"/>
      <img src="{{ url_for('static', filename='img/egglessmayo.jpg') }}" alt="egglessmayo" width="600" height="400">
    </a>
    <div class="desc">Eggless Mayo/Spicy Mayo</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="{{ url_for('eggplant') }}"/>
      <img src="{{ url_for('static', filename='img/eggplant.jpg') }}" alt="eggplant" width="600" height="400">
    </a>
    <div class="desc">Eggplant Rounds</div>
  </div>
</div>

<div class="clearfix"></div>

</div>

<!--END OF GALLERY-->
<!--END OF MAIN CONTENT-->
<footer>Site Designed by Kristelle C.</footer>

 {% endblock %}